<a href="https://colab.research.google.com/github/skdding3/OPGG-Project/blob/main/OPGG_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **OP.GG Data Analysis Visualization Service**

기존 OP.GG 서비스에서 게임 매칭시 같은 팀에 대한 실력을 가늠할 수 있는 컨텐츠를 제시

In [3]:
import pandas as pd
df = pd.read_csv('/content/participants_final2.csv')
df1 = df.set_index(['gameid','teamid'])

df1['totalkills'] = df1.groupby(['gameid','teamid'])['stats.kills'].sum()
df1 = df1.iloc[:10]

df1['dps'] = df1['stats.totaldamagedealttochampions']/df1['gameduration']

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (28,29,33,62) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## **Viabillity (생존성)**

In [4]:
viability = df1[['position','stats.deaths','stats.visionscore','stats.wardsplaced','stats.kills']]

weight_viability = viability.copy()
weight_viability = weight_viability.reset_index(drop=False, inplace=False)

weight_viability.rename(columns = {'stats.deaths' : 'death','stats.visionscore' :'visionscore','stats.wardsplaced': 'wards_placed','stats.kills':'kills'}, inplace = True)

weight_viability

       gameid  teamid position  death  visionscore  wards_placed  kills
0  4621713273     100      MID      3           20             9      6
1  4621713273     100  SUPPORT      2           34            11     10
2  4621713273     100      TOP      3           14            10      4
3  4621713273     100   JUNGLE      4           55            24      1
4  4621713273     100      ADC      3           14             9      5
5  4621713273     200      TOP      7           24             5      2
6  4621713273     200   JUNGLE      3           21             7      5
7  4621713273     200      MID      3           16             9      1
8  4621713273     200  SUPPORT      8           13             6      6
9  4621713273     200      ADC      5           66            28      1

In [5]:
weight_viability = viability.copy()
weight_viability = weight_viability.reset_index(drop=False, inplace=False)

weight_viability.rename(columns = {'stats.deaths' : 'death','stats.visionscore' :'visionscore','stats.wardsplaced': 'wards_placed','stats.kills':'kills'}, inplace = True)

weight_viability

weight_viability = weight_viability.astype({'death':float}).astype({'visionscore':float}).astype({'wards_placed':float}).astype({'kills':float})
weight_viability

for i in range(0, 10) :
    if weight_viability['position'][i] == 'MID' :
      weight_viability['death'][i] = weight_viability['death'][i] * 0.3
      weight_viability['visionscore'][i] = weight_viability['visionscore'][i] * 0.15
      weight_viability['wards_placed'][i] = weight_viability['wards_placed'][i] * 0.15
      weight_viability['kills'][i] = weight_viability['kills'][i] * 0.4
    elif weight_viability['position'][i] == 'SUPPORT' :
      weight_viability['death'][i] = weight_viability['death'][i] * 0.3
      weight_viability['visionscore'][i] = weight_viability['visionscore'][i] * 0.2
      weight_viability['wards_placed'][i] = weight_viability['wards_placed'][i] * 0.2
      weight_viability['kills'][i] = weight_viability['kills'][i] * 0.3
    elif weight_viability['position'][i] == 'TOP' :
      weight_viability['death'][i] = weight_viability['death'][i] * 0.3
      weight_viability['visionscore'][i] = weight_viability['visionscore'][i] * 0.15
      weight_viability['wards_placed'][i] = weight_viability['wards_placed'][i] * 0.15
      weight_viability['kills'][i] = weight_viability['kills'][i] * 0.4
    elif weight_viability['position'][i] == 'JUNGLE' :
      weight_viability['death'][i] = weight_viability['death'][i] * 0.25
      weight_viability['visionscore'][i] = weight_viability['visionscore'][i] * 0.2
      weight_viability['wards_placed'][i] = weight_viability['wards_placed'][i] * 0.2
      weight_viability['kills'][i] = weight_viability['kills'][i] * 0.35
    else :
      weight_viability['death'][i] = weight_viability['death'][i] * 0.35
      weight_viability['visionscore'][i] = weight_viability['visionscore'][i] * 0.15
      weight_viability['wards_placed'][i] = weight_viability['wards_placed'][i] * 0.15
      weight_viability['kills'][i] = weight_viability['kills'][i] * 0.35

# 작업 내용 여기까지 입니다

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [6]:
weight_viability

       gameid  teamid position  death  visionscore  wards_placed  kills
0  4621713273     100      MID   0.90          3.0          1.35   2.40
1  4621713273     100  SUPPORT   0.60          6.8          2.20   3.00
2  4621713273     100      TOP   0.90          2.1          1.50   1.60
3  4621713273     100   JUNGLE   1.00         11.0          4.80   0.35
4  4621713273     100      ADC   1.05          2.1          1.35   1.75
5  4621713273     200      TOP   2.10          3.6          0.75   0.80
6  4621713273     200   JUNGLE   0.75          4.2          1.40   1.75
7  4621713273     200      MID   0.90          2.4          1.35   0.40
8  4621713273     200  SUPPORT   2.40          2.6          1.20   1.80
9  4621713273     200      ADC   1.75          9.9          4.20   0.35

In [7]:

# 경기 시간 분으로 환산 
time = round(df['gameduration'] / 60, 2)
# time

# 생존력 관련 변수들을 분당 백분율로 전처리 

min_viability = weight_viability.iloc[:,3:] /time[0]
min_viability = pd.concat([weight_viability[['teamid','position']], min_viability], axis=1)

# min_viability 

# 유저별(개인별) 생존력 계산 : total_viability
min_viability['total_viability'] = min_viability.iloc[:,1:].sum(axis=1)
min_viability

   teamid position     death  ...  wards_placed     kills  total_viability
0     100      MID  0.035672  ...      0.053508  0.095125         0.303210
1     100  SUPPORT  0.023781  ...      0.087198  0.118906         0.499405
2     100      TOP  0.035672  ...      0.059453  0.063417         0.241776
3     100   JUNGLE  0.039635  ...      0.190250  0.013872         0.679746
4     100      ADC  0.041617  ...      0.053508  0.069362         0.247721
5     200      TOP  0.083234  ...      0.029727  0.031708         0.287356
6     200   JUNGLE  0.029727  ...      0.055489  0.069362         0.321046
7     200      MID  0.035672  ...      0.053508  0.015854         0.200159
8     200  SUPPORT  0.095125  ...      0.047562  0.071344         0.317083
9     200      ADC  0.069362  ...      0.166468  0.013872         0.642093

[10 rows x 7 columns]

In [8]:
# 1게임 -  팀별 생존력 
min_viability['total_viability'][:5].mean() # team_id == 100 의 평균 생존력

0.39437177962742764

In [9]:
min_viability['total_viability'][5:].mean() # team_id == 200 의 평균 생존력

0.35354736424891003

## **aggression (공격성)**

In [10]:
aggression = df1[['position','stats.totaldamagedealttochampions','stats.neutralminionskilledteamjungle','stats.neutralminionskilledenemyjungle','stats.kills','dps']]
aggression

                  position  ...        dps
gameid     teamid           ...
4621713273 100         MID  ...   7.482166
           100     SUPPORT  ...   7.818362
           100         TOP  ...   7.206737
           100      JUNGLE  ...   2.672391
           100         ADC  ...  14.538309
           200         TOP  ...   3.704756
           200      JUNGLE  ...   6.846103
           200         MID  ...   6.697490
           200     SUPPORT  ...   9.817041
           200         ADC  ...   4.298547

[10 rows x 6 columns]

In [11]:
weight_aggression = aggression.reset_index(drop=False, inplace=False)
weight_aggression.rename(columns = {'stats.totaldamagedealttochampions' : 'damage_dealt','stats.neutralminionskilledteamjungle' : 'cs_killed_tjg',    'stats.neutralminionskilledenemyjungle': 'cs_killed_ejg',    'stats.goldearned': 'gold_earned',    'stats.kills':'kills'}, inplace = True)

for i in range(0, 10) :
    if weight_aggression['position'][i] == 'TOP' :
      weight_aggression['damage_dealt'][i] = weight_aggression['damage_dealt'][i] * 0.4
      weight_aggression['cs_killed_tjg'][i] = weight_aggression['cs_killed_tjg'][i] * 0.05
      weight_aggression['cs_killed_ejg'][i] = weight_aggression['cs_killed_ejg'][i] * 0.05
      weight_aggression['kills'][i] = weight_aggression['kills'][i] * 0.35
      weight_aggression['dps'][i] = weight_aggression['dps'][i] * 0.15
    elif weight_aggression['position'][i] == 'JUNGLE' :
      weight_aggression['damage_dealt'][i] = weight_aggression['damage_dealt'][i] * 0.25
      weight_aggression['cs_killed_tjg'][i] = weight_aggression['cs_killed_tjg'][i] * 0.15
      weight_aggression['cs_killed_ejg'][i] = weight_aggression['cs_killed_ejg'][i] * 0.15
      weight_aggression['kills'][i] = weight_aggression['kills'][i] * 0.35
      weight_aggression['dps'][i] = weight_aggression['dps'][i] * 0.1
    elif weight_aggression['position'][i] == 'MID' :
      weight_aggression['damage_dealt'][i] = weight_aggression['damage_dealt'][i] * 0.4
      weight_aggression['cs_killed_tjg'][i] = weight_aggression['cs_killed_tjg'][i] * 0.05
      weight_aggression['cs_killed_ejg'][i] = weight_aggression['cs_killed_ejg'][i] * 0.05
      weight_aggression['kills'][i] = weight_aggression['kills'][i] * 0.35
      weight_aggression['dps'][i] = weight_aggression['dps'][i] * 0.15
    elif weight_aggression['position'][i] == 'ADC' :
      weight_aggression['damage_dealt'][i] = weight_aggression['damage_dealt'][i] * 0.45
      weight_aggression['cs_killed_tjg'][i] = weight_aggression['cs_killed_tjg'][i] * 0.05
      weight_aggression['cs_killed_ejg'][i] = weight_aggression['cs_killed_ejg'][i] * 0.05
      weight_aggression['kills'][i] = weight_aggression['kills'][i] * 0.3
      weight_aggression['dps'][i] = weight_aggression['dps'][i] * 0.15
    else :
      weight_aggression['damage_dealt'][i] = weight_aggression['damage_dealt'][i] * 0.45
      weight_aggression['cs_killed_tjg'][i] = weight_aggression['cs_killed_tjg'][i] * 0.05
      weight_aggression['cs_killed_ejg'][i] = weight_aggression['cs_killed_ejg'][i] * 0.05
      weight_aggression['kills'][i] = weight_aggression['kills'][i] * 0.35
      weight_aggression['dps'][i] = weight_aggression['dps'][i] * 0.10

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
11328	* 0.4

4531.2

In [13]:
weight_aggression

       gameid  teamid position  ...  cs_killed_ejg  kills       dps
0  4621713273     100      MID  ...              0      2  1.122325
1  4621713273     100  SUPPORT  ...              0      3  0.781836
2  4621713273     100      TOP  ...              0      1  1.081011
3  4621713273     100   JUNGLE  ...              0      0  0.267239
4  4621713273     100      ADC  ...              0      1  2.180746
5  4621713273     200      TOP  ...              0      0  0.555713
6  4621713273     200   JUNGLE  ...              1      1  0.684610
7  4621713273     200      MID  ...              0      0  1.004624
8  4621713273     200  SUPPORT  ...              0      2  0.981704
9  4621713273     200      ADC  ...              0      0  0.644782

[10 rows x 8 columns]

In [14]:
weight_aggression.iloc[:,3:]

   damage_dealt  cs_killed_tjg  cs_killed_ejg  kills       dps
0          4531              0              0      2  1.122325
1          5326              4              0      3  0.781836
2          4364              0              0      1  1.081011
3          1011              0              0      0  0.267239
4          9904              0              0      1  2.180746
5          2243              4              0      0  0.555713
6          2591              1              1      1  0.684610
7          4056              0              0      0  1.004624
8          6688              0              0      2  0.981704
9          2928              0              0      0  0.644782

분당으로 나누는게 필요하지 않을까 해서 나눈 것과 안나눈 것으로 백분율을 구해보았다 
(결론 : 시간으로 나누든 안나누든 백분율 구하면 어차피 결과가 똑같다.)

In [15]:
# # aggression 관련 변수들을 분당 백분율로 전처리 

min_aggression = weight_aggression.iloc[:,3:] /time[0]
min_aggression = pd.concat([weight_aggression[['teamid','position']], min_aggression], axis=1)

min_aggression

   teamid position  damage_dealt  ...  cs_killed_ejg     kills       dps
0     100      MID    179.587792  ...       0.000000  0.079271  0.044484
1     100  SUPPORT    211.097899  ...       0.000000  0.118906  0.030988
2     100      TOP    172.968688  ...       0.000000  0.039635  0.042846
3     100   JUNGLE     40.071344  ...       0.000000  0.000000  0.010592
4     100      ADC    392.548553  ...       0.000000  0.039635  0.086435
5     200      TOP     88.902101  ...       0.000000  0.000000  0.022026
6     200   JUNGLE    102.695204  ...       0.039635  0.039635  0.027135
7     200      MID    160.760999  ...       0.000000  0.000000  0.039819
8     200  SUPPORT    265.081252  ...       0.000000  0.079271  0.038910
9     200      ADC    116.052319  ...       0.000000  0.000000  0.025556

[10 rows x 7 columns]

In [16]:
 min_aggression.iloc[:,2:]

   damage_dealt  cs_killed_tjg  cs_killed_ejg     kills       dps
0    179.587792       0.000000       0.000000  0.079271  0.044484
1    211.097899       0.158541       0.000000  0.118906  0.030988
2    172.968688       0.000000       0.000000  0.039635  0.042846
3     40.071344       0.000000       0.000000  0.000000  0.010592
4    392.548553       0.000000       0.000000  0.039635  0.086435
5     88.902101       0.158541       0.000000  0.000000  0.022026
6    102.695204       0.039635       0.039635  0.039635  0.027135
7    160.760999       0.000000       0.000000  0.000000  0.039819
8    265.081252       0.000000       0.000000  0.079271  0.038910
9    116.052319       0.000000       0.000000  0.000000  0.025556

In [17]:
# 유저별(개인별) 생존력 계산 : total_aggression
min_aggression['total_aggression'] = min_aggression.iloc[:,2:].sum(axis=1)
min_aggression

   teamid position  damage_dealt  ...     kills       dps  total_aggression
0     100      MID    179.587792  ...  0.079271  0.044484        179.711547
1     100  SUPPORT    211.097899  ...  0.118906  0.030988        211.406335
2     100      TOP    172.968688  ...  0.039635  0.042846        173.051170
3     100   JUNGLE     40.071344  ...  0.000000  0.010592         40.081936
4     100      ADC    392.548553  ...  0.039635  0.086435        392.674623
5     200      TOP     88.902101  ...  0.000000  0.022026         89.082668
6     200   JUNGLE    102.695204  ...  0.039635  0.027135        102.841245
7     200      MID    160.760999  ...  0.000000  0.039819        160.800817
8     200  SUPPORT    265.081252  ...  0.079271  0.038910        265.199433
9     200      ADC    116.052319  ...  0.000000  0.025556        116.077875

[10 rows x 8 columns]

In [18]:
A_total_aggression = min_aggression['total_aggression'][:5].sum() 
A_total_aggression

996.9256106698165

In [25]:
A_total_weight_aggression = weight_aggression['total_aggression'][:5].sum() 
A_total_weight_aggression

25152.43315719947

In [20]:
B_total_aggression = min_aggression['total_aggression'][5:].sum() 
B_total_aggression

734.0020385766667

In [26]:
B_total_weight_aggression = weight_aggression['total_aggression'][5:].sum() 
B_total_weight_aggression

18518.8714332893

In [22]:
weight_aggression['total_aggression'] =weight_aggression.iloc[:,3:8].sum(axis=1)
weight_aggression

       gameid  teamid position  ...  kills       dps  total_aggression
0  4621713273     100      MID  ...      2  1.122325       4534.122325
1  4621713273     100  SUPPORT  ...      3  0.781836       5333.781836
2  4621713273     100      TOP  ...      1  1.081011       4366.081011
3  4621713273     100   JUNGLE  ...      0  0.267239       1011.267239
4  4621713273     100      ADC  ...      1  2.180746       9907.180746
5  4621713273     200      TOP  ...      0  0.555713       2247.555713
6  4621713273     200   JUNGLE  ...      1  0.684610       2594.684610
7  4621713273     200      MID  ...      0  1.004624       4057.004624
8  4621713273     200  SUPPORT  ...      2  0.981704       6690.981704
9  4621713273     200      ADC  ...      0  0.644782       2928.644782

[10 rows x 9 columns]

In [23]:
min_aggression['aggression_percent'] = min_aggression['total_aggression'][:5]/A_total_aggression

In [27]:
weight_aggression['aggression_percent'] = weight_aggression['total_aggression'][:5]/A_total_weight_aggression

In [28]:
min_aggression['aggression_percent'][5:]  = min_aggression['total_aggression'][5:]/B_total_aggression

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
weight_aggression['aggression_percent'][5:] = weight_aggression['total_aggression'][5:]/B_total_weight_aggression

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
min_aggression

   teamid position  ...  total_aggression  aggression_percent
0     100      MID  ...        179.711547            0.180266
1     100  SUPPORT  ...        211.406335            0.212058
2     100      TOP  ...        173.051170            0.173585
3     100   JUNGLE  ...         40.081936            0.040206
4     100      ADC  ...        392.674623            0.393886
5     200      TOP  ...         89.082668            0.121366
6     200   JUNGLE  ...        102.841245            0.140110
7     200      MID  ...        160.800817            0.219074
8     200  SUPPORT  ...        265.199433            0.361306
9     200      ADC  ...        116.077875            0.158144

[10 rows x 9 columns]

In [31]:
weight_aggression

       gameid  teamid position  ...       dps  total_aggression  aggression_percent
0  4621713273     100      MID  ...  1.122325       4534.122325            0.180266
1  4621713273     100  SUPPORT  ...  0.781836       5333.781836            0.212058
2  4621713273     100      TOP  ...  1.081011       4366.081011            0.173585
3  4621713273     100   JUNGLE  ...  0.267239       1011.267239            0.040206
4  4621713273     100      ADC  ...  2.180746       9907.180746            0.393886
5  4621713273     200      TOP  ...  0.555713       2247.555713            0.121366
6  4621713273     200   JUNGLE  ...  0.684610       2594.684610            0.140110
7  4621713273     200      MID  ...  1.004624       4057.004624            0.219074
8  4621713273     200  SUPPORT  ...  0.981704       6690.981704            0.361306
9  4621713273     200      ADC  ...  0.644782       2928.644782            0.158144

[10 rows x 10 columns]

-> 결론 : 시간으로 나누든 안나누든 백분율 구하면 어차피 결과가 똑같다.

## **Tanking (탱킹)**

In [32]:
tanking = df1[['position','stats.deaths','stats.totaldamagetaken']]
tanking

                  position  stats.deaths  stats.totaldamagetaken
gameid     teamid
4621713273 100         MID             3                   15655
           100     SUPPORT             2                   13701
           100         TOP             3                    7374
           100      JUNGLE             4                   12376
           100         ADC             3                   20747
           200         TOP             7                   19135
           200      JUNGLE             3                   14082
           200         MID             3                   22200
           200     SUPPORT             8                   17182
           200         ADC             5                    9637

In [33]:
weight_tanking = tanking.reset_index(drop=False, inplace=False)
weight_tanking.rename(columns = {'stats.totaldamagetaken' : 'damage_taken', 'stats.deaths' : 'deaths'}, inplace = True)
weight_tanking['efficiency'] = 1
for i in range(0, 10) :
    if weight_tanking['position'][i] == 'TOP' :
      weight_tanking['damage_taken'][i] = weight_tanking['damage_taken'][i]
      weight_tanking['deaths'][i] = weight_tanking['deaths'][i] * 0.3
    elif weight_tanking['position'][i] == 'JUNGLE' :
      weight_tanking['damage_taken'][i] = weight_tanking['damage_taken'][i]
      weight_tanking['deaths'][i] = weight_tanking['deaths'][i] * 0.25 
    elif weight_tanking['position'][i] == 'MID' :
      weight_tanking['damage_taken'][i] = weight_tanking['damage_taken'][i]
      weight_tanking['deaths'][i] = weight_tanking['deaths'][i] * 0.3 
    elif weight_tanking['position'][i] == 'ADC' :
      weight_tanking['damage_taken'][i] = weight_tanking['damage_taken'][i]
      weight_tanking['deaths'][i] = weight_tanking['deaths'][i] * 0.35
    else :
      weight_tanking['damage_taken'][i] = weight_tanking['damage_taken'][i]
      weight_tanking['deaths'][i] = weight_tanking['deaths'][i] * 0.3

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [34]:
for i in range(0, 10) :
  if weight_tanking['deaths'][i] == 0:
    weight_tanking['efficiency'][i] = (weight_tanking['damage_taken'][i]*1.2)/(weight_tanking['deaths'][i]+1)
  else :
    weight_tanking['efficiency'][i] = weight_tanking['damage_taken'][i]/weight_tanking['deaths'][i]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [35]:
weight_tanking

       gameid  teamid position  deaths  damage_taken  efficiency
0  4621713273     100      MID       0         15655       18786
1  4621713273     100  SUPPORT       0         13701       16441
2  4621713273     100      TOP       0          7374        8848
3  4621713273     100   JUNGLE       1         12376       12376
4  4621713273     100      ADC       1         20747       20747
5  4621713273     200      TOP       2         19135        9567
6  4621713273     200   JUNGLE       0         14082       16898
7  4621713273     200      MID       0         22200       26640
8  4621713273     200  SUPPORT       2         17182        8591
9  4621713273     200      ADC       1          9637        9637

In [36]:
weight_tanking.iloc[:,3:6]

   deaths  damage_taken  efficiency
0       0         15655       18786
1       0         13701       16441
2       0          7374        8848
3       1         12376       12376
4       1         20747       20747
5       2         19135        9567
6       0         14082       16898
7       0         22200       26640
8       2         17182        8591
9       1          9637        9637

In [37]:
weight_tanking['total_tanking'] = weight_tanking.iloc[:,3:6].sum(axis=1)
# weight_tanking

A_total_tanking = weight_tanking['total_tanking'][:5].sum() 
# A_total_tanking
B_total_tanking = weight_tanking['total_tanking'][5:].sum() 
# B_total_tanking

weight_tanking['tanking_percent'] = weight_tanking['total_tanking'][:5]/A_total_tanking
weight_tanking['tanking_percent'][5:]  = weight_tanking['total_tanking'][5:]/B_total_tanking
weight_tanking

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

       gameid  teamid position  ...  efficiency  total_tanking  tanking_percent
0  4621713273     100      MID  ...       18786          34441         0.234208
1  4621713273     100  SUPPORT  ...       16441          30142         0.204974
2  4621713273     100      TOP  ...        8848          16222         0.110314
3  4621713273     100   JUNGLE  ...       12376          24753         0.168327
4  4621713273     100      ADC  ...       20747          41495         0.282177
5  4621713273     200      TOP  ...        9567          28704         0.186907
6  4621713273     200   JUNGLE  ...       16898          30980         0.201727
7  4621713273     200      MID  ...       26640          48840         0.318023
8  4621713273     200  SUPPORT  ...        8591          25775         0.167834
9  4621713273     200      ADC  ...        9637          19275         0.125510

[10 rows x 8 columns]

## **Gold Earned (골드 수급)**

In [38]:
golds_earned = df1[['position','stats.neutralminionskilledteamjungle','stats.neutralminionskilledenemyjungle','stats.goldearned']]
golds_earned

                  position  ...  stats.goldearned
gameid     teamid           ...
4621713273 100         MID  ...             11911
           100     SUPPORT  ...             11674
           100         TOP  ...              9933
           100      JUNGLE  ...              6503
           100         ADC  ...             11234
           200         TOP  ...              7416
           200      JUNGLE  ...             11415
           200         MID  ...              8337
           200     SUPPORT  ...             11826
           200         ADC  ...              6350

[10 rows x 4 columns]

In [39]:
weight_gold = golds_earned.reset_index(drop=False, inplace=False)
weight_gold.rename(columns = {'stats.neutralminionskilledteamjungle' : 'cs_killed_tjg',	'stats.neutralminionskilledenemyjungle': 'cs_killed_ejg',	'stats.goldearned': 'gold_earned'}, inplace = True)

for i in range(0, 10) :
    if weight_gold['position'][i] == 'TOP' :
      weight_gold['cs_killed_tjg'][i] = weight_gold['cs_killed_tjg'][i] * 0.2
      weight_gold['cs_killed_ejg'][i] = weight_gold['cs_killed_ejg'][i] * 0.2
      weight_gold['gold_earned'][i] = weight_gold['gold_earned'][i] * 0.6

    elif weight_gold['position'][i] == 'JUNGLE' :
      weight_gold['cs_killed_tjg'][i] = weight_gold['cs_killed_tjg'][i] * 0.3
      weight_gold['cs_killed_ejg'][i] = weight_gold['cs_killed_ejg'][i] * 0.3
      weight_gold['gold_earned'][i] = weight_gold['gold_earned'][i] * 0.4
          
    elif weight_gold['position'][i] == 'MID' :
      weight_gold['cs_killed_tjg'][i] = weight_gold['cs_killed_tjg'][i] * 0.2
      weight_gold['cs_killed_ejg'][i] = weight_gold['cs_killed_ejg'][i] * 0.2
      weight_gold['gold_earned'][i] = weight_gold['gold_earned'][i] * 0.6
           
    elif weight_gold['position'][i] == 'ADC' :
      weight_gold['cs_killed_tjg'][i] = weight_gold['cs_killed_tjg'][i] * 0.20
      weight_gold['cs_killed_ejg'][i] = weight_gold['cs_killed_ejg'][i] * 0.2
      weight_gold['gold_earned'][i] = weight_gold['gold_earned'][i] * 0.6
           
    else :
      weight_gold['cs_killed_tjg'][i] = weight_gold['cs_killed_tjg'][i] * 0.15
      weight_gold['cs_killed_ejg'][i] = weight_gold['cs_killed_ejg'][i] * 0.15
      weight_gold['gold_earned'][i] = weight_gold['gold_earned'][i] * 0.7

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [40]:
weight_gold['total_golds'] = weight_gold.iloc[:,1:4].sum(axis=1)
# weight_gold

A_total_golds = weight_gold['total_golds'][:5].sum() 
# A_total_golds
B_total_golds = weight_gold['total_golds'][5:].sum() 
# B_total_golds

weight_gold['golds_percent'] = weight_gold['total_golds'][:5]/A_total_golds
weight_gold['golds_percent'][5:]  = weight_gold['total_golds'][5:]/B_total_golds
weight_gold

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

       gameid  teamid position  ...  gold_earned  total_golds  golds_percent
0  4621713273     100      MID  ...         7146          101       0.196117
1  4621713273     100  SUPPORT  ...         8171          112       0.217476
2  4621713273     100      TOP  ...         5959          100       0.194175
3  4621713273     100   JUNGLE  ...         2601          100       0.194175
4  4621713273     100      ADC  ...         6740          102       0.198058
5  4621713273     200      TOP  ...         4449          217       0.212745
6  4621713273     200   JUNGLE  ...         4566          202       0.198039
7  4621713273     200      MID  ...         5002          200       0.196078
8  4621713273     200  SUPPORT  ...         8278          201       0.197059
9  4621713273     200      ADC  ...         3810          200       0.196078

[10 rows x 8 columns]

## **Supporting(서포팅)**

In [41]:
supporting = df1[['position','stats.visionwardsboughtingame','stats.wardskilled','stats.wardsplaced','stats.visionscore']]
supporting

                  position  ...  stats.visionscore
gameid     teamid           ...
4621713273 100         MID  ...                 20
           100     SUPPORT  ...                 34
           100         TOP  ...                 14
           100      JUNGLE  ...                 55
           100         ADC  ...                 14
           200         TOP  ...                 24
           200      JUNGLE  ...                 21
           200         MID  ...                 16
           200     SUPPORT  ...                 13
           200         ADC  ...                 66

[10 rows x 5 columns]

In [42]:
weight_supporting = supporting.reset_index(drop=False, inplace=False)
weight_supporting.rename(columns = {'stats.visionwardsboughtingame' : 'buy_ward'}, inplace = True)
weight_supporting.rename(columns = {'stats.wardsplaced' : 'place_ward'}, inplace = True)
weight_supporting.rename(columns = {'stats.wardskilled' : 'kill_ward'}, inplace = True)
weight_supporting.rename(columns = {'stats.visionscore' : 'visionscore'}, inplace = True)
weight_supporting

for i in range(0, 10) :
    if weight_supporting['position'][i] == 'TOP' :
      weight_supporting['buy_ward'][i] = weight_supporting['buy_ward'][i] * 0.2
      weight_supporting['place_ward'][i] = weight_supporting['place_ward'][i] * 0.15
      weight_supporting['kill_ward'][i] = weight_supporting['kill_ward'][i] * 0.3
      weight_supporting['visionscore'][i] = weight_supporting['visionscore'][i] * 0.35
     
    elif weight_supporting['position'][i] == 'JUNGLE' :
      weight_supporting['buy_ward'][i] = weight_supporting['buy_ward'][i] * 0.15
      weight_supporting['place_ward'][i] = weight_supporting['place_ward'][i] * 0.25
      weight_supporting['kill_ward'][i] = weight_supporting['kill_ward'][i] * 0.35
      weight_supporting['visionscore'][i] = weight_supporting['visionscore'][i] * 0.25
    
    elif weight_supporting['position'][i] == 'MID' :
      weight_supporting['buy_ward'][i] = weight_supporting['buy_ward'][i] * 0.20
      weight_supporting['place_ward'][i] = weight_supporting['place_ward'][i] * 0.15
      weight_supporting['kill_ward'][i] = weight_supporting['kill_ward'][i] * 0.30
      weight_supporting['visionscore'][i] = weight_supporting['visionscore'][i] * 0.35
     
    elif weight_supporting['position'][i] == 'ADC' :
      weight_supporting['buy_ward'][i] = weight_supporting['buy_ward'][i] * 0.20
      weight_supporting['place_ward'][i] = weight_supporting['place_ward'][i] * 0.15
      weight_supporting['kill_ward'][i] = weight_supporting['kill_ward'][i] * 0.30
      weight_supporting['visionscore'][i] = weight_supporting['visionscore'][i] * 0.35
     
    else :
      weight_supporting['buy_ward'][i] = weight_supporting['buy_ward'][i] * 0.15
      weight_supporting['place_ward'][i] = weight_supporting['place_ward'][i] * 0.20
      weight_supporting['kill_ward'][i] = weight_supporting['kill_ward'][i] * 0.25
      weight_supporting['visionscore'][i] = weight_supporting['visionscore'][i] * 0.40

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [43]:
weight_supporting

       gameid  teamid position  buy_ward  kill_ward  place_ward  visionscore
0  4621713273     100      MID         0          1           1            7
1  4621713273     100  SUPPORT         0          1           2           13
2  4621713273     100      TOP         0          0           1            4
3  4621713273     100   JUNGLE         1          3           6           13
4  4621713273     100      ADC         0          0           1            4
5  4621713273     200      TOP         0          1           0            8
6  4621713273     200   JUNGLE         0          2           1            5
7  4621713273     200      MID         0          0           1            5
8  4621713273     200  SUPPORT         0          0           1            5
9  4621713273     200      ADC         1          3           4           23

In [44]:
weight_supporting.iloc[:,3:]

   buy_ward  kill_ward  place_ward  visionscore
0         0          1           1            7
1         0          1           2           13
2         0          0           1            4
3         1          3           6           13
4         0          0           1            4
5         0          1           0            8
6         0          2           1            5
7         0          0           1            5
8         0          0           1            5
9         1          3           4           23

In [45]:
weight_supporting['total_supporting'] = weight_supporting.iloc[:,3:].sum(axis=1)
# weight_supporting

A_total_supporting = weight_supporting['total_supporting'][:5].sum() 
# A_total_supporting
B_total_supporting = weight_supporting['total_supporting'][5:].sum() 
# B_total_supporting

weight_supporting['supporting_percent'] = weight_supporting['total_supporting'][:5]/A_total_supporting
weight_supporting['supporting_percent'][5:]  = weight_supporting['total_supporting'][5:]/B_total_supporting
weight_supporting

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

       gameid  teamid  ... total_supporting  supporting_percent
0  4621713273     100  ...                9            0.155172
1  4621713273     100  ...               16            0.275862
2  4621713273     100  ...                5            0.086207
3  4621713273     100  ...               23            0.396552
4  4621713273     100  ...                5            0.086207
5  4621713273     200  ...                9            0.150000
6  4621713273     200  ...                8            0.133333
7  4621713273     200  ...                6            0.100000
8  4621713273     200  ...                6            0.100000
9  4621713273     200  ...               31            0.516667

[10 rows x 9 columns]

In [46]:
weight_supporting['supporting_percent'][:5].sum()

1.0

In [47]:
weight_supporting['supporting_percent'][5:].sum()

1.0

## **Carry Rating**

In [48]:
carry = df1[['position','gameduration','totalkills','stats.assists','stats.totaldamagedealt','stats.totaldamagetaken','stats.kills']]
carry['totalkills'] = df1.groupby(['gameid','teamid'])['stats.kills'].sum()
carry = carry.reset_index(drop=False, inplace=False)
carry = carry.rename(columns = {'stats.totaldamagedealt' : 'damage_dealt','stats.totaldamagetaken' : 'damage_taken','stats.kills':'kills','stats.assists':'assists'})
carry['carry_rating'] = 1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [49]:
carry

       gameid  teamid position  ...  damage_taken  kills  carry_rating
0  4621713273     100      MID  ...         15655      6             1
1  4621713273     100  SUPPORT  ...         13701     10             1
2  4621713273     100      TOP  ...          7374      4             1
3  4621713273     100   JUNGLE  ...         12376      1             1
4  4621713273     100      ADC  ...         20747      5             1
5  4621713273     200      TOP  ...         19135      2             1
6  4621713273     200   JUNGLE  ...         14082      5             1
7  4621713273     200      MID  ...         22200      1             1
8  4621713273     200  SUPPORT  ...         17182      6             1
9  4621713273     200      ADC  ...          9637      1             1

[10 rows x 10 columns]

In [50]:
for i in range(0, 10) :

    if carry['position'][i] == 'TOP' :
      carry['carry_rating'][i] = (carry['damage_dealt'][i]+carry['damage_taken'][i])/(carry['gameduration'][i])

    elif carry['position'][i] == 'JUNGLE' :
      carry['carry_rating'][i] = (carry['kills'][i]+carry['assists'][i])/(carry['totalkills'][i])
    
    elif carry['position'][i] == 'MID' :
      carry['carry_rating'][i] = (carry['damage_dealt'][i])/(carry['gameduration'][i])

    elif carry['position'][i] == 'ADC' :
      carry['carry_rating'][i] = (carry['damage_dealt'][i])/(carry['gameduration'][i])
     
    else :
      carry['carry_rating'][i] = carry['assists'][i]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [51]:
carry

       gameid  teamid position  ...  damage_taken  kills  carry_rating
0  4621713273     100      MID  ...         15655      6            93
1  4621713273     100  SUPPORT  ...         13701     10             4
2  4621713273     100      TOP  ...          7374      4            70
3  4621713273     100   JUNGLE  ...         12376      1             0
4  4621713273     100      ADC  ...         20747      5            98
5  4621713273     200      TOP  ...         19135      2            76
6  4621713273     200   JUNGLE  ...         14082      5             0
7  4621713273     200      MID  ...         22200      1            68
8  4621713273     200  SUPPORT  ...         17182      6             3
9  4621713273     200      ADC  ...          9637      1             6

[10 rows x 10 columns]

In [56]:
##시각화 데이터 준비
df100 = pd.DataFrame({
'Position': weight_tanking['position'][:5],
'Tanking':weight_tanking['tanking_percent'][:5]*100,  #100점 만점 기준으로 곱해주었다.
'golds_earned': weight_gold['golds_percent'][:5]*100,
'Vitality': min_viability['total_viability'][:5]*100,
'aggression': weight_aggression['aggression_percent'][:5]*100,
'supporting':weight_supporting['supporting_percent'][:5]*100
})

df100

  Position    Tanking  golds_earned   Vitality  aggression  supporting
0      MID  23.420807     19.611650  30.321046   18.026575   15.517241
1  SUPPORT  20.497372     21.747573  49.940547   21.205828   27.586207
2      TOP  11.031397     19.417476  24.177566   17.358484    8.620690
3   JUNGLE  16.832707     19.417476  67.974633    4.020554   39.655172
4      ADC  28.217717     19.805825  24.772097   39.388558    8.620690

In [63]:
df200 = pd.DataFrame({
'Position': weight_tanking['position'][5:],
'Tanking':weight_tanking['tanking_percent'][5:]*100,
'golds_earned': weight_gold['golds_percent'][5:]*100,
'Vitality': min_viability['total_viability'][5:]*100,
'aggression': weight_aggression['aggression_percent'][5:]*100,
'supporting':weight_supporting['supporting_percent'][5:]*100
})

df200.reset_index(drop=True,inplace=True)

df200

  Position    Tanking  golds_earned   Vitality  aggression  supporting
0      TOP  18.690664     21.274510  28.735632   12.136570   15.000000
1   JUNGLE  20.172685     19.803922  32.104637   14.011030   13.333333
2      MID  31.802258     19.607843  20.015854   21.907407   10.000000
3  SUPPORT  16.783440     19.705882  31.708284   36.130613   10.000000
4      ADC  12.550953     19.607843  64.209275   15.814380   51.666667

In [65]:
carry_df100 = pd.DataFrame({
'Position': carry['position'][:5],
'carry_rating':carry['carry_rating'][:5]
})

carry_df100

  Position  carry_rating
0      MID            93
1  SUPPORT             4
2      TOP            70
3   JUNGLE             0
4      ADC            98

In [68]:
carry_df200 = pd.DataFrame({
'Position': carry['position'][5:],
'carry_rating':carry['carry_rating'][5:]
})

carry_df200.reset_index(drop=True,inplace=True)

carry_df200

  Position  carry_rating
0      TOP            76
1   JUNGLE             0
2      MID            68
3  SUPPORT             3
4      ADC             6